{% extends 'account/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <center>
            <br/>
            <br/>
            <!-- <h1 id="err">5<img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/sad.png"><img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/sad.png"></h1> -->
            <h1 id="err">5<img src="https://assets.materialup.com/uploads/874a163f-e28c-48f0-bc4f-68349595527c/preview.jpg"><img src="https://assets.materialup.com/uploads/874a163f-e28c-48f0-bc4f-68349595527c/preview.jpg"></h1>
            <h1 style="color:#333333">OH OH! SERVER ERROR.... !</h1>
        <center><a href="/"><button class="ui blue basic button">Go Back</button></a></center>
        </center>
    </div>

{% endblock%}