{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Internal Server Error</title>
    <link rel="stylesheet" type="text/css" href="static/css/500.css">
</head>

<body>
    <div class="error">
        <div class="container">
            <h1>Internal Server Error</h1>
            <h2>Sorry, there seems to be an error. Please try again soon.</h2>
        </div>
    </div>
</body>

</html>