{% extends "account/base.html" %}
{% load static %}

{% block content %}
<div class="column">
    {% include "main/navbar.html" %}
</div>

<div class="dashboard-container">
    <br/>
    <br/>

    <div class="container">
        <br/>
        <br/>
        {% for photo in photos %}
        <img src="{{ photo }}" alt="{{ photo }}">
        {% endfor %}

        <!-- Image Collection Section -->
        <div class='image-collection' id="wrapper">
            {% for image in images %}
                {% if image.get_url %}
                    <div class='thumbholder'>
                        <img src="{{ image.thumbnail.url }}" alt="" data="{{ image.file.url }}" id="{{ image.id }}" class='thumbs'>
                        <div class="img-caption">
                            {% if image.edited %}
                                <i class="fa fa-star-half-o retouch"></i>
                            {% endif %}
                            <a href="#myModal" data-toggle="modal">
                                <i class="fa fa-trash pull-right delete" id="{{ image.id }}"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %} 
            {% if images|length > 2 %}
                <div class="arrow animated bounce">
                    <i class="fa fa-arrow-down"></i>
                </div>
            {% endif %}
        </div>

        <!-- Photo Board Section -->
        <h2>Your Photo Board</h2>
        <div class="row">
            {% for image in edited_images %}
                <div class="col-md-3 mb-3">
                    <img src="{{ image.image.url }}" class="img-thumbnail" data-toggle="modal" data-target="#previewModal{{ image.id }}">
                    <button class="delete-button" id="delete-button">Delete</button> 
                    <!-- <button class="delete-button" data-image-id="{{ image.id }}">Delete</button> -->
                </div>
            {% endfor %}
        </div>

        {% if images %}
            <div class="photo-board">
                {% for image in images %}
                    <div class="photo">
                        <p>Uploaded on: {{ image.created_on }}</p>
                        <p>{{ image.title }}</p>
                        <button class="delete-button" id="delete-button">Delete</button> 
                        <!-- data-image-id="{{ image.id }}">Delete</button> -->
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No photos uploaded yet.</p>
        {% endif %}
    </div>

    <!-- Image Effects Section -->
    <h1>Image Effects</h1>

    <!-- Form for image upload -->
    <form id="uploadForm" method="POST" enctype="multipart/form-data" class='form-upload'>
        {% csrf_token %}
        <input type="file" name="image" accept="image/*" id="imageInput" required>
        <select name="effect">
            {% for effect in effects %}
                <option value="{{ effect }}">{{ effect|title }}</option>
            {% endfor %}
        </select>
        <button type="button" id="applyEffect">Apply Effect</button>
        <button type="submit" id="saveButton">Upload and Save</button>
    </form>

    <!-- Modal for Image Deletion -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title">Warning!</h4>
                </div>
                <div class="modal-body">
                    <img class="del-image" src='' width=100% height=300px>
                    <center> You are about to delete this picture, continue ?</center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="submit" type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Placeholder for additional buttons -->
    <button class="delete-button" data-image-id="1">Delete</button>
    <button class="share-button">Share</button>
    <button type="button" class="btn btn-primary" id="openDisplayModal">Open Display Modal</button>
</div>

<!-- Facebook SDK Script -->
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1689075798037081";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Link to CSS file -->
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}
