{% extends "account/base.html" %}
{% load static %}

{% block content %}
<div class="column">
    {% include "main/navbar.html" %}
</div>

<div class="dashboard-container">
    <br/>
    <br/>

    <div class="container">
        <br/>
        <br/>
        <h2>Your Photo Board</h2>
        <div class="row">
            {% for photo in photos %}
                <div class="col-md-3 mb-3">
                    <img src="{{ photo }}" class="img-thumbnail" data-toggle="modal" data-target="#previewModal">
                </div>
            {% endfor %}
        </div>

        {% if images %}
            <div class="photo-board">
                {% for image in images %}
                    <div class="photo">
                        <img src="{{ image.thumbnail.url }}" alt="Thumbnail" class="select-image" data-image-path="{{ image.image.url }}">
                        <p>Uploaded on: {{ image.created_on }}</p>
                        <p>{{ image.title }}</p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No photos uploaded yet.</p>
        {% endif %}
    </div>

    <h1>Image Effects</h1>

    <!-- Form for image upload -->
    <form id="uploadForm" method="POST" enctype="multipart/form-data" class='form-upload'>
        {% csrf_token %}
        <input type="file" name="image" accept="image/*" id="imageInput" required>
        <select name="effect">
            {% for effect in effects %}
            <option value="{{ effect }}">{{ effect|title }}</option>
            {% endfor %}
        </select>
        <button type="button" id="applyEffect">Apply Effect</button>
        <button type="submit">Upload and Save</button>
    </form>

    <!-- Preview Modal -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" id="previewImage" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <!-- Placeholder for delete button (adjust according to your structure) -->
    <button class="delete-button" data-image-id="1">Delete</button>
    <button class=""share-button" >share</button>

    <button type="button" class="btn btn-primary" id="openDisplayModal">Open Display Modal</button>
</div>

<!-- Link to CSS file -->
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

{% endblock %}