{% extends 'account/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

{% block content %}
<br/>
<br/>
<nav class="navbar navbar-dark bg-dark" role="navigation" style="margin-bottom: 0">
    <div class="sidebar">
        {% if user.is_authenticated %}
        
            <div class="user-info">
                {% load account %}
                <img class="img-circle" src="{{ request.user.profile.get_profile_image_url }}"/>
                <span>{{ request.user.get_full_name }}</span>
                <br/>
                <br/>
                <a class="btn btn-dark" href="{% url 'socialaccount_connections' %}">Settings</a>
            </div>
        {% endif %}
    </div>
</nav>
{% endblock %}
