.form-group {
  margin-top: 10px;
}


body {
  background-color: #343a40; /* Dark grey background color */
  color: white; 
  margin-bottom:10px;
}

footer {
      position: fixed;
      bottom: 0;
      font-size: small;
      width: 100%;
      color: white;
      text-align: center;
      padding: 10px 0;
  }
